* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}
header img{
    height:120px;
    width:130px;
}

header {
    background-color: #4E3B31; 
    color: #FFF; 
    max-width: 100%;
}
body {
    background-color: #F5F5DC; 
    color: #333333; 
    height:auto;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center; 
    padding: 5px; 
}

.header img {
    margin-right: 10px; 
}

nav {
    margin-left: auto; 
}

nav ul {
    display: flex; 
    list-style-type: none; 
}

nav li {
    margin:5px;
}

nav a {
    text-decoration: none; 
    color: #FFF; 
    font-size: larger;
    transition: color 0.3s ease,font-size 0.3s ease;
}

nav a:hover {
    color:#f5f5dc72;
    font-size:21px;

}
.first-Box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 38px;
    width:100%;
    height:70vh;
    background-color:#D3C6A0;
}
.first-Box img{
    width:33%;
    height:auto;
    margin:0 auto;
    margin-right: 4px;
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap ;
    width:40%;
    margin:60px;
}
.content h2{
    margin-bottom:30px;
    font-size:x-large;
    color: #6A2C2A;
}
.content .button-link { 
    text-align: center;    
    margin-top: 50px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius:1px;
    border: 2px solid black;
    background-color: #D3C6A0;
    color: black;
    font-size: 16px;
    text-decoration: none; 
    transition: background-color 0.3s ease, padding 0.3s ease, width 0.3s ease;
}

.content .button-link:hover {
    padding: 13px;
    width: 55%;
}

.firstCard, .secondCard, .thirdCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    width: 25%;
    background-color: #F5F5DC; 
    border: 2px solid #D3C6A0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    padding: 20px;
    height: 65vh;
}
.firstCard:hover, .secondCard:hover, .thirdCard:hover{
    background-color: #F1E9D2;
    cursor: pointer;
} 

.firstCard img, .secondCard img, .thirdCard img {
    width: 95%;
}

.secondCard img {
    height: 45%; 
}

.thirdCard img {
    height: 45%; 
}
.firstCard p, .secondCard p, .thirdCard p {
    margin-top: 8px;
}
.CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px;
    overflow: hidden;
    margin-top:100px;
}
.cardButton-link {
    text-decoration: none; 
    display: inline-block; 
    width: 100%;
}
#firstcard{
    margin-top:11px;
}
.cardButton {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #F5F5DC; 
    color:black;
    border: 2px solid black;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-align: center; 
}

.cardButton:hover {
    background-color: #f4e8c4;
}
.CardContainer h2{
    color:#8b7863;
    margin-bottom:8px;
}
.childContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:70%;
    padding-right:90px;
}    

.childContainer h2{
    font-size:30px;
    color: #6A2C2A;
}
.childContainer p{
    font-size:x-large;
    font-weight: bold;
    padding-top:20px;
}

 .button-link2 {
    display: inline-block;
    padding: 10px;
    width: 70%;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color:black;
    border: 2px solid black;
    background-color:  #D8C9A3; 
    font-size: 16px; 
    margin-top: 25px;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.2s ease, width 0.3s ease;
}

.button-link2:hover {
    background-color: #F5F5DC; 
}

.fatherContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border: 2px solid #D8C9A3; 
    border-radius: 8px; 
    background-color: #D8C9A3; 
    max-width:90%;
    margin:70px;
    margin-top:190px;
    padding:30px;
    height: 70vh;
}
.Slider{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start ;
}
#image-slider {
    width: 70%;
    padding-left: 40px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px;
}

.authorContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:200px;
}
.authorImg img{
    width:60%;
    border-radius: 8px;
    margin-left:80px;
}
.authorInfo{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-bottom:40px;
    width:35%;
    margin-right:55px;
}
.authorInfo h3{
    margin-bottom:10px;
    font-size: smaller;
}
.authorInfo h1{
    padding-bottom:20px;
}
.authorInfo p{
    padding-top:15px;
}
.authorInfo button{
    width:100%;
    padding:10px;
    margin-top:50px;
    font-size:15px;
    background-color: #F5F5DC; 
    font-weight: bold;
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer; 
}
.authorInfo button:hover{
    background-color:#f8e6b3; 
}
.logoContainer{
    display: flex;
    flex-direction: row;
    margin-top:100px;
    margin-left:120px;
    gap:150px;
}
.logoChild{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
}
.logo1{
    width:25%;
    padding-top:12px;
}
.logo2{
    width:30%;
}
.logo3{
    width:22%;
}
.logo4{
    width:30%;
}
.topsellers-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:100px;
    gap:80px;
}
.topsellers-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20%;
}
.topsellers-content img{
    width:400%;
}

.topsellers-txt{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top:160px;
    padding-left:120px;
}
.topsellers-txt h1{
    padding-top:20px;
    text-decoration: underline;
}
.topsellers-txt p {
    color: black; 
    font-weight: bold;
}
.topsellers-txt a {
    text-decoration: none; 
}
.topsellers-txt a:hover{
    text-decoration: underline;
}

.topsellers-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF3E0; 
    overflow: hidden;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(78, 59, 49, 0.3); 
    border-radius:15px; 
    padding: 20px;
    width: 18%;
    height: 58vh;
    transition: background-color 0.3s ease, transform 0.2s ease,height 0.3s ease,width 0.3s ease;
}
.topsellers-box:hover{
    cursor: pointer;
    width:19%;
    height:58vh ;
}
.viewMore{
    display: flex;
    justify-content: center;
    padding-top:100px;
}
.viewMore .viewMore-link {
    display: inline-block; 
    padding: 15px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    background-color: #F5F5DC;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius:0px;
    cursor: pointer;
    border: 2px solid black; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.viewMore .viewMore-link:hover {
    background-color: #f8ebc5;
}
.scrollUp{
    display: flex;
    justify-content:end;
    padding-right:50px;
    position: fixed;
    bottom:40px;
    right:0px;
}
.scrollUp button {
    padding: 5px 10px; 
    font-size: 25px;
    background-color: #F5F5DC;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
.scrollUp button:hover{
    background-color: #f8e5d0;
}
footer{
    background-color: #F1E9D2;
}
footer p{
    padding-bottom:15px;
    color: #7D6A54;
    font-size: larger;
}

.footer-row {
    display: flex;
    gap:300px;
    align-items: flex-start;
    flex-wrap: wrap;
    height:auto;
    margin-top: 100px;
    margin-right: 60px;
}

.list ul, .list2 ul, .list3 ul {
    list-style-type: none; 
}
.list, .list2, .list3 {
    margin-top: 60px;
    font-size: large;
}
.list a, .list2 a, .list3 a {
    text-decoration: none;
    color: black;
}

.logo-name img {
    width: 70%;
    height: 15vh;
    margin-top: 30px;
    margin-left: 30px;
    display: block; 
}

.logo-name h2 {
    padding-left: 5px;
    padding-top: 10px;
    font-size: xx-large;
    text-align: center;
}
.footer-column {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding-bottom:30px;    
    gap: 15px;
    align-items: center; 
}
.footerimgs {
    display: flex;        
    justify-content: center; 
    align-items: center;    
    gap: 20px; 
    width: 100%; 
}
.footerimgs img {
    width: 80px;  
    height: auto;
}
#facebook{
    width:70px;
}
#YT{
    width:80px;
    height:55px;
}
.burger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
@media (max-width:768px) {
    body, .header, .first-Box {
        width: 100%;
    }.first-Box img {
        display: none !important;
    }   
    .header {
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
        padding: 20px; 
        width:100%;
    }

    .header img {
        margin: 0 auto;
    }

    nav {
        display: none;
    }

    .burger-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    nav ul {
        flex-direction: row;  
    }
   .first-Box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: auto;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: center;
        margin: 20px 0;
    }

    .content h2 {
        font-size: 34px;
        padding-right:50px;
    }

    .content p {
        font-size:20px;
        text-align: center;
    }

    .button-link {
        display: flex;
        justify-content:center ;
        align-items: center;
        width: 100%;
    }
   .CardContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        gap: 20px; 
        margin: 20px; 
        width: 100%; 
    }

    .firstCard, .secondCard, .thirdCard {
        width: 90%; 
        height: auto; 
        flex-wrap: wrap; 
        margin: 10px 0; 
        text-align: center; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .firstCard img, .secondCard img, .thirdCard img {
        width: 100%;
        height: auto;
        margin-bottom: 10px; 
        border-radius: 5px; 
    }

    .cardButton {
        font-size: 16px; 
        padding: 10px; 
        width: 80%; 
        margin: 0 auto; 
    }

    .fatherContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        margin: 20px;
        height: auto; 
    }

    .childContainer {
        width: 100%; 
        padding-right: 0; 
        margin-bottom: 20px; 
    }

    #image-slider {
        width: 80%;
        padding-left: 0;
    }

    .Slider {
        align-items: center; 
    }

    .cardButton,.childContainer button {
        width: 60%; 
    }
    .authorContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        margin-top: 50px; 
        text-align: center; 
    }
    
    .authorImg {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
    }
    
    .authorImg img {
        width: 80%; 
        border-radius:0px; 
        padding-right:65px;
    }
    
    .authorInfo {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        margin: 20px 0; 
        text-align: center;
    }
    
    .authorInfo button {
        width: 100%; 
        padding: 15px 20px; 
        border-radius: 5px; 
        cursor: pointer; 
        margin: 10px auto; 
    }
    
    .authorInfo button:hover {
        background-color: #f8e6b3; 
    }
    .logoContainer {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-top: 50px; 
        margin-left: 0; 
        gap: 20px; 
    }

    .logoChild {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .logo1,.logo2,.logo3,.logo4 {
        width: 10%; 
    }

    .topsellers-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 40px;
    }

    .topsellers-content {
        width: 35%; 
    }
   
    .topsellers-content img {
        width: 100%; 
    }

    .topsellers-box {
        width: 90%; 
        height: auto; 
        margin-bottom: 20px; 
    }
    .topsellers-box:hover {
        width: initial; 
    }
    .topsellers-txt {
        padding: 10px; 
        margin-bottom: 20px; 
        text-align: center; 
        align-items: center;
    }

    .topsellers-txt h1 {
        font-size: 40px;
    }

    .topsellers-txt p {
        text-align: center; 
    }

    .viewMore {
        display: flex;
        justify-content: center;
        padding-top: 50px; 
    }

    .viewMore button {
        width: 70%; 
    }

    footer {
        text-align:center; 
    }
    .footer-row {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 30px;
        margin:10px; 
    }

    .list, .list2, .list3 {
        margin-top: 20px; 
        font-size: medium; 
    }

    .logo-name img {
        width: 100%; 
        margin: 20px 0px; 
    }

    .logo-name h2 {
        font-size: large;  
    }

    .footerimgs {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 15px; 
        margin-top: 20px; 
    }

    .footerimgs img {
        width: 50px; 
    }
    #insta{
        width:80px;
    }
    .scrollUp {
        justify-content: center;
        padding-right:5px; 
        margin-top: 20px; 
    }
    .scrollUp button {
        width: 100%; 
        font-size: 24px; 
    }
}
