@media (max-width: 1200px) {
    body, .header, .first-Box {
        width: 100%;
    }
    .first-Box img {
        display: none !important;
    }   
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;}
    nav ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
   .first-Box {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
    }
    .content {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .content h2 {
        font-size: 34px;
        padding-right:50px;
    }

    .content p {
        font-size:20px;
        text-align: center;
    }

    .content button {
        width: 55%;
        margin-left:150px;
    }
    .CardContainer {
        flex-direction: column;
        align-items: center;
        margin: 20px; 
    }

    .firstCard, .secondCard, .thirdCard {
        width: 50%; 
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 20px; 
    }
    .firstCard button, .secondCard button, .thirdCard button{
        width: 100%;
    }

    .firstCard img, .secondCard img, .thirdCard img {
        width: 100%; 
        height: auto; 
    }

    .cardButton {
        font-size: 14px; 
        padding: 8px; 
    }
    .CardContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin: 20px; 
        flex-wrap: wrap; 
    }

    .fatherContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        margin: 20px;
        height: auto; 
    }

    .childContainer {
        width: 100%; 
        padding-right: 0; 
        margin-bottom: 20px; 
    }

    #image-slider {
        width: 80%;
        padding-left: 0;
    }

    .Slider {
        align-items: center; 
    }

    .cardButton,.childContainer button {
        width: 100%; 
    }
    .authorContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
    }

    .authorImg img {
        width: 80%; 
        margin-left:80px;
        margin-bottom: 20px; 
    }

    .authorInfo {
        width: 100%; 
        margin-right:0px;
        margin-bottom: 20px; 
        align-items: center;
    }

    .authorInfo button {
        width: 40%; 
    }

    .logoContainer {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-top: 50px; 
        margin-left: 0; 
        gap: 20px; 
    }

    .logoChild {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .logo1,.logo2,.logo3,.logo4 {
        width: 10%; 
    }

    .topsellers-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 40px;
    }

    .topsellers-content {
        width: 35%; 
    }
   
    .topsellers-content img {
        width: 100%; 
    }

    .topsellers-box {
        width: 80%; 
        height: auto; 
        margin-bottom: 20px; 
    }
    
    .topsellers-box:hover {
        width: 77%; 
        height: auto;  
    }
    .topsellers-txt {
        padding: 10px; 
        margin-bottom: 20px; 
        text-align: center; 
        align-items: center;
    }

    .topsellers-txt h1 {
        font-size: 40px;
    }

    .topsellers-txt p {
        text-align: center; 
    }

    .viewMore {
        display: flex;
        justify-content: center;
        padding-top: 50px; 
    }

    .viewMore button {
        width: 70%; 
    }

    footer {
        text-align:center; 
    }
    .footer-row {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 30px;
        margin:10px; 
    }

    .list, .list2, .list3 {
        margin-top: 20px; 
        font-size: medium; 
    }

    .logo-name img {
        width: 100%; 
        margin: 20px 0px; 
    }

    .logo-name h2 {
        font-size: large;  
    }

    .footerimgs {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 15px; 
        margin-top: 20px; 
    }

    .footerimgs img {
        width: 50px; 
    }
    #insta{
        width:80px;
    }
    .scrollUp {
        justify-content: center;
        padding-right: 0; 
        margin-top: 20px; 
    }
    .scrollUp button {
        width: 10%; 
        font-size: 24px; 
    }
}